img {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:25%;
}

.cart-arrow {
  flex: 0 0 auto;
}

.cart-display {
  flex: 0 0 auto;
}